.form {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.form input {
  padding: 10px 16px;
  width: 280px;
  border: 1px solid #808080;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
  transition:
    border-color 0.2s ease,
    box-shadow 0.2s ease;
}

.form input:hover {
  border-color: #000;
}
.form input:focus {
  border-color: #4e75ff;
}

.form button {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  background-color: #4e75ff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    transform 0.1s ease;
}

.form button:hover {
  background-color: #6c8cff;
}
